@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

/* React root */
#root {
  height: 100dvh;      /* dynamic viewport height */
  width: 100%;
  overflow: hidden;   /* prevent accidental page scrolling */
  display: flex;
}